XMLTOJSON/in.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ename" type="xsd:string"/>
  <xsd:element name="eno" type="xsd:string"/>
  <xsd:element name="employee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="eno"/>
        <xsd:element ref="ename"/>
        <xsd:element ref="ecountry"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ecountry" type="xsd:string"/>
</xsd:schema>